// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// $s-blue: #004E89;
// $s-blue: #027BCE;
// $s-blue: #0496FF;
//$s-blue: #6874E8;
// $s-blue: #027BCE;
// $s-champ: #FAFAF0;
$s-orange: #da4471;
$s-blue: #0e3281;
$s-champ: #FFF;
// $s-orange: #F6A3B4;
