// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #2A50E9;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-blue: #EFF1F9;

// $s-blue: #004E89;
// $s-blue: #027BCE;
// $s-blue: #0496FF;
// $s-blue: #6874E8;
// $s-blue: #027BCE;
// $s-champ: #FAFAF0;
// $s-orange: #da4471;
// $s-blue: #0e3281;
// $s-orange: #F6A3B4;


$ss-purple: #DA4471;
$ss-blue: #2A50E9;
$ss-white: #EFF1F9;
$ss-lightgrey: #C6C9D3;
$ss-grey: #7E8295;
$ss-darkgrey: #454A5C;
$ss-black: #1F2331;
