.landing_page_container {
    // * {
    //     outline: 1px dotted red;
    // }
    scroll-behavior: smooth;
    width: 100vw;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100vh;
}

.next-slide {
    text-align: center;
}

.slide_container {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
        font-size: 65px
}
.container-steps {
    width: 700px;
    height: 61vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    h2 {
        font-size: 65px;
    }
    img {
        margin-right: 30px;
        margin-bottom: 15px;
    }
}

.header {
    display: flex;
    text-align: center;
    img {
        margin-left: 20px;
    }
}

.header_part_2 {
    width: 407px;
    text-align: center;
    margin-top: 40px;
}

.container_slide_2 {
    width: 103vh;
}

.total_content_slide_3 {
    margin-top: 20px;
}
.slide_3_top_content {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.total_content_slide_3 {
    width: 60vw;
}

.top_text_slide_3 {
    margin-left: 40px;
}

.bottom_text_slide_3 {
    margin-top: 40px;
}

.header_part_3 {
    text-align: center;
    padding-bottom: 30px;
    margin-top: 20px;
}

.slide_4_content {
    width: 125vh;
    margin-top: 100px;
}

.slide_4_top_content {
    display: flex;

}

.slide_4_bottom_content {
    display: flex;
    margin-left: 50px;
}

.slide_4_top_text {
    display: flex;
    align-items: center;
}

.page_4_bottom_content {
    display: flex;
    align-items: center;
    padding-top: 100px;
}

.start_saving {
    margin-bottom: 80px;
}

.next_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.learn_more {
    margin-bottom: 20px;
    padding-left: 12px;
}

.next {
    margin-bottom: 20px;
    padding-left: 3px;
}
// boucing arrow css

.arrow-container {
    width: 50px;
    /* cubic-bezier-easing = sine / mehr Beispiele: https://easings.net/ */
    animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
    cursor: pointer;
    height: 40px;
  }

  .arrow-down {
    height: 6px;
    background: $s-blue;
    transform: rotate(45deg);
    transform-origin: 0% 0%;
    border-radius: 5px;
  }
  .arrow-down:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 100%;
    border-radius: 5px;
    background: $s-blue;
    transform: rotate(-90deg);
    transform-origin: 0% 100%;
  }

  @keyframes bounce {
  50% {
      transform: translateY(-15px);
    }
  }