// Specific CSS for your home-page


// .home-container {
//    height: 80vh;
// }
// .home-container {
//   display: flex;
//   // justify-content: center;

// }

.top-container {
  width: 90%;
  margin: 0 auto;
  height: 15%;
  margin-bottom: 2%;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  }


.balance {
  text-align: center;
}

.dashboard-container {
  width: 80%;
  margin: 0 auto;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-start !important;
}

.goals-dashboard {
  width: 470px;
  height: 100%;
  border-radius: 10px;
  padding: 20px;
  margin-right: 60px;
}


.categories-dashboard {
  // background-color: $s-champ;
  width: 500px;
  height: 100%;
  border-radius: 10px;
  padding: 20px;
}

.goals-dashboard h2,
.categories-dashboard h2 {
margin-bottom: 30px !important
}

a, a:hover {
  text-decoration: none;
}

