// Import page-specific CSS files here.
@import "home";
@import "intro";

* {
  font-family: $s-font;
}

h2 {
  font-family: $s-font;
}

// star doesnt work on h1 and h2, why? check later
h1 {
  font-family: $s-font;
}

