.i-container {
  width: 70vw;
  margin: 80px auto 50px auto;
}

.half-screen {
  flex: 1;
}

.step-cards {
  background-color: #ADD8E6;
  border-radius: 20px;
}

.i-text h3 {
  color: $s-blue;
}

.logo,
.i-text .call {
  color: #da4471;
}

.i-container h2 {
  color: #000;
}

.i-container hr {
  margin-top: 50px;
  margin-bottom: 50px
}

.img-right {
  object-fit: contain;
  object-position: 100%;
}

.img-left {
  object-fit: contain;
  object-position: 0%;
}

.icon-bw {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

// >>Temporary makes icons black and white
// Remove when icons are changed