
.stats-top-container {
  width: 95%;
  margin-left: 15px;
  display: flex;
   img {
    height: 300px;
   }
}

.stats-left-top-container {
  width: 45%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
}

.stats-container {
  background-color: white;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 30px;
}
.coach-container {
  display: flex;
  align-items: baseline;
  position: relative;
}


// Coaching

.coach-text-bubble {
  background-color: white;
  position: absolute;
  padding: 20px;
  border-radius: 20px;
  width: 250px;
  right: -95%;
  z-index: 2;
}

.coach-avatar {
  position: relative;
  bottom: 10%;
}


// Goal details

.goal-details-container {
  height: 380px;
  width: 95%;
  margin: 0 15px;
  background-color: white;
  border-radius: 20px;
  padding: 50px;
  display: flex;
}

.goal-details-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    margin-bottom: 7px;
  }
  .icons-container {
    justify-content: space-around;
  }
}

.goal-details-statusgraph {
  height: 80%;
}

.stats-container p {
  margin-bottom: 0;
}

.stats-container,
.goal-details-container {
  span {
    color: $ss-blue;
    font-size: 35px;
  }
}

.no-goal-text {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
