<div class="footer">
<!--     <div class="logo">
        <%= image_tag "" %>
    </div> -->

    <div class="footer-content">
        <p>About</p>
        <p>Work with us  </p>
        <p>Terms and conditions </p>
        <p>Blog</p>
        <div class="footer-icons">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
</div>
