    <div class="categories-dashboard">
      <h2 class="ml-4">Expense Categories</h2>
      <% if @categories.exists? %>
        <%= render '/categories/index', categories: @categories %>
      <% else %>
        <%= render '/categories/newcall' %>
      <% end %>

    </div>