.exp-details {
  margin: 10px 0px 10px 0px;
  width: 30vw;
}

.expenses {
  height: 70vh;
  // scroll-snap-type: y mandatory;
  // overflow: scroll;
  // overflow-y: scroll;
}

.expenses::-webkit-scrollbar-track {
  scrollbar-color: white;
}

.exp-details:last-of-type + hr {
  display: none;
}