.exp-details {
  margin: 10px 0px 10px 0px;
  width: 100%;
}

.expenses {
  height: 70vh;
}

.expenses::-webkit-scrollbar-track {
  scrollbar-color: white;
}

.linebreaker:last-of-type {
  display: none;
}
