
.card-expcat-container {
  width: 600px;
  height: 300px;
  background-color: lightblue;
  padding: 25px;
  border-radius: 20px;
  margin-left: 50px;
}

.card-expcat-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  position: sticky;
  top: 0;
  background-color: #FFF;
  padding: 30px 0;
  h3 {
    margin: 0;
  }
}


.card-framework {
  display: flex;
  justify-content: space-between;
  p {
    color: black;
  }
}

.card-framework:last-of-type + hr {
  display: none;
}

.layout-container {
  display: flex;
  flex-grow: 1;
}

.category-logo-container {
  background-color: #EFF1F9;
  padding: 5px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
}

.exp-cat-card-mid {
  margin-left: 20px;
  width: 90%;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.text-x-progressbar {
  display: flex;
  justify-content: space-between;
  p {
    margin-bottom: 10px;
  }
}

.icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

#category-card {
  padding-top: 0;
}