.footer {
  background-color: white;
  height: 60px;
  color: $s-orange;
  padding-top: 20px;
  padding-right: 5%;
  padding-left: 5%;
  box-shadow: 0 0 5px grey;
  border-radius: 5px 5px 0 0;
  align-items: center;
}

.footer-content a:hover {
  opacity: 1;
}

.footer-content a {
  color: $s-orange;
  opacity: 0.7;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 3px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-icons {
  display: flex;
}
 .footer-icons a {
  display: flex;
 }

