.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

h2 {
  color: $s-orange;
  font-weight: bold;
}

.navbar {
  box-shadow: 0 0 5px lightgrey;
  height: 70px;
  padding: 0 5%;
  border-radius: 0 0 5px 5px;
}

#logo {
  width: 60px;
}

.logotitle {
  display: flex;
  justify-content: center;
  color: $s-orange;
  align-items: center;
  #logo-text {
    margin-left: 20px;
  }
}
