.mb-track { 
  border-radius: 5px !important; 
  background-color: #EEE !important;

}

.mb-bar {
  border-radius: 5px !important;
  background-color: $ss-purple !important; 
}

.mb-button {
  background-color: #FFF !important;
}
