/* Split the screen in half */
// .split {
//   height: 100%;
//   position: fixed;
//   z-index: 1;
//   top: 0;
//   overflow-x: hidden;
//   padding-top: 20px;
// }

// // /* Control the left side */
// .left {
//   min-width:300px;
//   left: 0;
//   margin-left:50px
// }

// // /* Control the right side */
// .right {
//   right: 0;
//    margin-right: 50px;
// }

// .row {
//   margin-left: 150px;
// }

// can't be named row because it overwrites bootstrap code.

.centered-box {
  position: relative;
  height: 100%;
  min-height: 200px;
  margin-right: 200px;
}

/* If you want the content centered horizontally and vertically */
 .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 300px;
}

.row h3 {
  margin-left: 21px;
  margin-top: 22px;
  margin-bottom: 0;
}
