<h1>All goals</h1>

<%= link_to "Create new goal", new_goal_path, class: "s-button" %>

<hr>

<ul>
  <% @goals.each do |goal| %>
    <%= link_to(goal_path(goal)) do %>
      <li> <%= goal.name %> </li>
    <% end %>
  <% end %>
</ul>
