<div class="container-fluid">

  <div class="row">
    <div class="col-lg-6 col-md-8 col-xs-12">
    <h3><strong>Make new goal</strong></h3>
    <%= render "form", goal: @goal %>
    </div>


  <div class="col-lg-6 col-md-4 col-xs-12">
    <div class="centered-box">
      <div class="centered">
        <%= image_tag "SimpleSaverTarget"%>
      </div>
    </div>
  </div>
  </div>
</div>
