<div class="bigbox">
  <div class="split-left">
    <h3><strong>Make new goal</strong></h3>
      <%= render "form", goal: @goal %>
  </div>
  <div class="split-right">
      <%= image_tag "SimpleSaverTarget"%>
  </div>
</div>
