<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12">
      <h3><strong>Make new goal</strong></h3>
      <%= render "form", goal: @goal %>
      </div>
    <div class="col-lg-6 col-md-6 d-none d-lg-block d-xl-none">
      <div class="centered-box">
        <div class="centered">
          <%= image_tag "SimpleSaverTarget.svg"%>
        </div>
      </div>
    </div>
  </div>
</div>
