<h1>Goal progress</h1>

<%= @goal.name %>

<%= link_to "Edit goal", edit_goal_path(@goal), class: "s-button"  %>
<%= link_to "Delete goal", goal_path(@goal), method: :delete,  class: "s-button"%>
<%= link_to "All goals", goals_path,  class: "s-button"%>
