<p class="text-muted small text-right pr-"><i class="far fa-hand-pointer"></i>Let's go!</p>

<p class="text-muted medium w-50 pt-3">Seems a bit empty here...<br>
Start your journey creating an expense category you want to track for the following months.</p>
