<div class="bigbox">
  <div class="split-left">
      <h3><strong>Make new category</strong></h3>
        <%= render "form", category: @category %>
  </div>
  <div class="split-right"> <%= image_tag "SimpleSaverGrowth.svg" %> </div>
</div>
