<div class="bigbox">
  <div class="split-left">
      <h3><strong>Add new expense</strong></h3>
        <%= render "form"%>
  </div>
  <div class="split-right"> <%= image_tag "SimpleSaverGrowth.svg" %> </div>
</div>
